body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(
    to left,
    rgba(127, 127, 127, 1) 0%,
    rgba(60, 60, 60, 1) 100%
  );
}

button.stared {
  background-color: yellow;
}
